


.jumbotron
{
    background-image: url('../images/leethack.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    margin-bottom: 0;
}

.jumbotron h1
{
    color: #000;
    text-shadow: 0 0 0.15em #4b7a4e;
    text-align: center;
    margin-top: 50vh;
    font-size: 6em;
    font-family: 'VT323', monospace;
}

.row:nth-child(odd)
{
    background-color: #acc3a7;
}

.col-sm-12
{
    padding: 7em 14em;
}

.col-sm-6
{
    padding: 7em 6em;
}


.text h2
{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-family: 'VT323', monospace;

}

.text p
{
    margin-right: auto;
    margin-left: auto;
    font-size: 1.3em;
    font-family: 'VT323', monospace;
    font-family: 'Share Tech Mono', monospace;
}

.centeredSentences
{
    text-align: center;
    margin-top: 1em;
}



@media(max-width: 768px)
{
    .container-fluid
    {
        padding-left: 0;
        padding-right: 0;
    }
    
    .jumbotron h1
    {
        font-size: 4em;
    }

    .jumbotron .container-fluid
    {
        margin: 0;
        padding: 0;
    }
    
    .row
    {
        margin: 0;
    }

    .col-sm-12, .col-sm-6
    {
        padding: 2em;
    }

    #firstImage
    {
        width: 100%;
    }

    #secondImage
    {
        width: 100%;
        border-radius: 7%;
    }   
}

@media(min-width: 768px)
{
    #firstImage
    {
        width: 40em;
        box-shadow: 0 5em 5em #000000;
    }

    #secondImage
    {
        width: 30em;
        margin-left: 6em;
        box-shadow: 0 0 5em #000000;
        border-radius: 7%;
    }   
}